@mixin flex {
    display: flex;
    align-items: center;
}
@mixin list {
    list-style: none;
    text-decoration: none;
}
@mixin fonstil {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #263238;
    text-transform: capitalize;
}
